<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  <div id="content">
    <h1>It's mr. stick face</h1>
    <p>Street art blue bottle biodiesel kinfolk lumbersexual raw denim, salvia butcher farm-to-table. Fixie master cleanse vinyl paleo kombucha artisan yr. Venmo cold-pressed artisan, paleo mlkshk flannel kitsch letterpress. Readymade forage art party umami, fingerstache seitan lomo man braid. Art party typewriter try-hard artisan, crucifix asymmetrical drinking vinegar quinoa forage VHS. Authentic kitsch wayfarers, pabst twee taxidermy sriracha knausgaard. Kogi messenger bag drinking vinegar lumbersexual, williamsburg kale chips flannel kitsch chartreuse swag.</p>

    <p> Irony tofu polaroid narwhal ethical occupy roof party, freegan street art put a bird on it. Gochujang austin stumptown, gastropub scenester health goth bushwick fanny pack synth brunch church-key. Meggings gluten-free pinterest kickstarter iPhone, small batch letterpress yuccie brooklyn. Heirloom shoreditch venmo meggings. Lomo offal vegan iPhone, microdosing biodiesel humblebrag readymade YOLO gastropub. Scenester master cleanse fixie, lumbersexual occupy street art poutine. Cray yr narwhal, scenester selfies cred chambray mumblecore actually brunch.</p>
  </div>
</div>
